@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* --background-color: #20464d;
  --gray-color: #7e8e8b;
  --text-color: #c6bdb5;
  --second-text-color: #ffffff;
  --aqua-color: #2a8b96;
  --second-aqua-color: #0f7385; */

  --background-color: #2d3250;
  --gray-color: #424769;
  --text-color: #676f9d;
  --second-text-color: #ffffff;
  --beige-color: #f9b17a;
  --second-beige-color: #fabb8b;

  /* --background-color: #051615;
  --second-bg-color: #18434e;
  --text-color: #ffffff;
  --second-text-color: #d8ddea;
  --aqua-color: #a1bdd0;
  --gray-color: #78949f; */
}

body {
  background-color: var(--background-color);
  color: var(--second-text-color);
  /* background-image: url('/public/fondo2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

h1 {
  color: var(--beige-color);
  margin-top: 50px;
  text-align: center;
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 12px;
  width: 120px;
  border: 1px solid transparent;
  /* padding: 0.4em 1em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--beige-color);
  color: var(--second-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

button:hover {
  background-color: var(--second-beige-color);
  box-shadow: 0 0 5px var(--beige-color);
}